 *{
    margin: 0;
    padding:0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    background-color: rgb(1, 1, 15);
    color: bisque;
    
 }
 .intro{
   color: beige;

 }
.container{
   width:100%;
   min-height: 100vh;
   background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(img1.jpg);
   background-size: cover;
   background-position: center;
   padding: 10px,8%;
   font-size: 114%;
}
form {
   max-width: 400px;
   margin: 20px auto;
}

label {
   display: block;
   margin-bottom: 8px;
}

input,
textarea {
   width: 100%;
   padding: 8px;
   margin-bottom: 16px;
   box-sizing: border-box;
}

button {
   background-color: #4CAF50;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   background-color: #45a049;
}